.factContent{
    
}

.factContent__title{
    color: rgb(56, 56, 56);
    margin-top: 4rem;
    margin-bottom: -20px;
}

.factContent__text{
    font-size: 2rem;
    font-weight: bold;
    word-wrap: break-word;
    padding: 0 3rem;
    background-color: gold;
}